body{
	background: url("../img/nyc.jpg");
	background-attachment: fixed;
}

#logo{
	background: url("../img/poli.jpg");
	

}

#menu ul li:hover{
	background: gray;
}

.button-more{
	background: #235E3D;
}